<div class="bg-gray-100 shadow">
    <div class="container">
        <div class="flex justify-between items-center py-3">
            <div>
                <img src="assets/img/RevenueDeptLogo.png" class="w-52">
            </div>
            <div class="flex items-center">
                <button color="primary" mat-raised-button type="button" routerLink="../login"
                    *ngIf="!this.localstorageService.checkUserIsLoggedIn() else userIsnotLog">Login</button>
                <ng-template #userIsnotLog>
                    <button mat-button [matMenuTriggerFor]="menu"><span class="text-blue">Welcome </span> -
                        {{this.localstorageService.loggedInUserName()}}</button>
                </ng-template>

                <mat-menu #menu="matMenu">
                    <ng-container *ngIf="this.localstorageService.checkUserIsLoggedIn()">
                        <button mat-menu-item
                            routerLink="../{{localstorageService.redirectToDashborad()}}">Dashboard</button>
                        <button mat-menu-item (click)="openLogOutDialog()">Logout</button>
                    </ng-container>
                </mat-menu>
            </div>
        </div>
    </div>
</div>