<div mat-dialog-title class="flex items-center justify-between">
    {{dialogData?.cardTitle}}
    <button type="button" mat-icon-button (click)="close('No answer')" tabindex="-1">
        <mat-icon>close</mat-icon>
    </button>
</div>

<mat-dialog-content>
    <p class="mb-0" *ngIf="dialogData?.p1">{{dialogData?.p1}}</p>
    <p class="mb-0" *ngIf="dialogData?.p2">{{dialogData?.p2}}</p>
    <div *ngIf="data.inputType">
        <mat-form-field appearance="outline">
            <mat-label>Remark</mat-label>                                    
            <input matInput [formControl]="remark">                                        
          </mat-form-field>
    </div>
</mat-dialog-content>


<mat-dialog-actions align="end">
    <button mat-button (click)="close('No')">{{dialogData?.cancelBtnText}}</button>
    <button mat-button color="primary" (click)="close('Yes')">{{dialogData?.successBtnText}}</button>
</mat-dialog-actions>