<div mat-dialog-title class="flex items-center justify-between mb-2 m-0">
    <div>Details</div>
    <button type="button" mat-icon-button mat-dialog-close tabindex="-1">
        <mat-icon svgIcon="mat:close"></mat-icon>
    </button>
</div>
<mat-divider></mat-divider>
<div *ngFor="let res of dialogData">
    <div [ngClass]="'grid grid-cols-'+res?.col">
        <ng-container *ngIf="res.type == 'badge'">
            <p class="mb-2"><strong>{{res?.key}} </strong>:  <span class="rounded px-2 py-1" [ngClass]="{'bg-green-light text-green': res?.val =='Approved',' bg-cyan-light text-cyan': res?.val=='Rejected' ,'bg-amber-light text-amber': res?.val == 'Pending' }">
            {{res.val?res.val :"Pending"}}</span></p>
        </ng-container>
        <ng-container *ngIf="res.type != 'badge'">
            <p class="mb-2"><strong>{{res?.key}} : </strong>{{res?.val}}</p>
        </ng-container>
        
    </div>
</div>

<div class="mt-5">
    <div class="text-center">
        <button mat-stroked-button class="me-2" type="button" mat-dialog-close>Close</button>
    </div>
</div>