<div class="bg-pattern w-full h-full flex flex-col items-center justify-center">
  <div [@fadeInUp] class="card overflow-hidden w-full max-w-xs">
    <div class="p-6 pb-0 flex flex-col items-center justify-center">
      <div class="fill-current text-center">
        <img class="w-16" src="assets/img/demo/logo.svg">
      </div>
    </div>

    <div class="text-center mt-4">
      <h2 class="title m-0">Generate Password</h2>
      <h4 class="body-2 text-secondary m-0">Enter your mobile number for password recovery.</h4>
    </div>

    <div  class="p-6 flex flex-col">
      <form [formGroup]="mobileOtpForm" (ngSubmit)="sentOtpMobile()">
        <mat-form-field [appearance]=configService?.matFormField class="w-100">
          <mat-label>Mobile Number</mat-label>
          <input matInput placeholder="Mobile No" (keypress)="validatorService.onlyDigits($event)"
              formControlName="mobileNo" maxlength="10" autocomplete="off">
          <mat-error *ngIf="f.mobileNo.errors">
              <span class="text-danger" *ngIf="f.mobileNo.hasError('required')"> Mobile no is
                  required</span>
              <span class="text-danger"
                  *ngIf="f.mobileNo.hasError('pattern') || f.mobileNo.hasError('minlength')"> Please enter
                  valid Mobile no </span>
          </mat-error>
      </mat-form-field>

      <button  class="mt-2" color="primary" mat-raised-button type="submit">
        Send SMS
      </button>
    </form>
    </div>
  </div>
</div>
