.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.4rem 0;
}

.mat-form-field-appearance-outline .mat-form-field-label {
    top: 1.73em;
}

.mat-form-field-infix input {
    position: relative;
    top: -5px;
    line-height: 22px;
}

.mat-form-field-label-wrapper {
    top: -15px;
}

.mat-form-field-subscript-wrapper {
    margin-top: 0;
}

.mat-form-field-appearance-outline .mat-form-field-prefix,
.mat-form-field-appearance-outline .mat-form-field-suffix {
    top: -5px !important;
}