<vex-page-layout>
    <vex-secondary-toolbar current="Agreement" class=" fixed border-0 bg-transparent drop-shadow-none top-1 z-[99] w-8/12">
      <vex-breadcrumbs [crumbs]="['Agreement Access']"></vex-breadcrumbs>
    </vex-secondary-toolbar>
  
    <vex-page-layout-content>
        <div class="flex items-center justify-end">
            <mat-icon class="icon-sm">keyboard_double_arrow_left</mat-icon>
            <span>Back</span>
        </div>
        <div class="card p-3 my-1">
            <div class="card-body m-2">
                <div class="card-text border-2 border-slate-900 rounded p-2 mb-4">
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error impedit explicabo, expedita praesentium,
                        alias architecto sapiente laboriosam veritatis accusantium odio ipsum excepturi magni dolorum.
                        Architecto,
                        sint veritatis provident magni ipsa modi veniam quas molestiae.
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error impedit explicabo, expedita praesentium,
                        alias architecto sapiente laboriosam veritatis accusantium odio ipsum excepturi magni dolorum.
                        Architecto,
                        sint veritatis provident magni ipsa modi veniam quas molestiae.
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error impedit explicabo, expedita praesentium,
                        alias architecto sapiente laboriosam veritatis accusantium odio ipsum excepturi magni dolorum.
                        Architecto,
                        sint veritatis provident magni ipsa modi veniam quas molestiae.
                    </p>
                </div>
                <div class="flex gap-x-3 justify-end my-5">
                    <button mat-raised-button color="primary">Refresh</button>
                    <button mat-raised-button color="primary">Edit</button>
                    <button mat-raised-button color="primary">Submit</button>
                </div>
            </div>
            <div class="card-body m-2">
                <div class="card-title mt-3">
                    <h4 class="text-xl text-blue-600 font-medium">
                        Agreement Form ON/OFF
                    </h4>
                </div>
                <div class="my-3">
                    <p class="text-xl text-sky-500">Table</p>
                </div>
            </div>
        </div>
    </vex-page-layout-content>
</vex-page-layout>

