<br>
<div class="card m-3">
    <div class="container py-3">

        <div class="flex justify-between my-4"> 
            <h4 class="text-xl text-blue-600 font-medium">Agreement</h4>
            <p>
                << Back </p>
        </div>
        <div class="border-2 rounded-sm p-2 mb-4">
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error impedit explicabo, expedita praesentium,
                alias architecto sapiente laboriosam veritatis accusantium odio ipsum excepturi magni dolorum.
                Architecto,
                sint veritatis provident magni ipsa modi veniam quas molestiae.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error impedit explicabo, expedita praesentium,
                alias architecto sapiente laboriosam veritatis accusantium odio ipsum excepturi magni dolorum.
                Architecto,
                sint veritatis provident magni ipsa modi veniam quas molestiae.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error impedit explicabo, expedita praesentium,
                alias architecto sapiente laboriosam veritatis accusantium odio ipsum excepturi magni dolorum.
                Architecto,
                sint veritatis provident magni ipsa modi veniam quas molestiae.
            </p>
        </div>
        <div class="flex gap-x-3 justify-end my-3">
            <button mat-raised-button color="primary">Refresh</button>
            <button mat-raised-button color="primary">Edit</button>
            <button mat-raised-button color="primary">Submit</button>
        </div>

        <div class="mt-3">
            <h4 class="text-xl text-blue-600 font-medium">Agreement ON/OFF</h4>

        </div>
    </div>

</div>