<vex-page-layout>
  <vex-secondary-toolbar current="Bidder List" class="pb-16">
    <vex-breadcrumbs [crumbs]="['Master', 'Bidder List']"></vex-breadcrumbs>
  </vex-secondary-toolbar>



  <vex-page-layout-content [class.container]="layoutCtrl.value === 'boxed'"
    [class.px-gutter]="layoutCtrl.value === 'fullwidth'" class="-mt-6">

    <div class="my-3 card p-3 border-0 shadow-none">
      <div class="flex gap-x-3">
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Select State</mat-label>
            <mat-select>
              <mat-option>None</mat-option>
              <mat-option value="option1">Option 1</mat-option>
              <mat-option value="option2">Option 2</mat-option>
              <mat-option value="option3">Option 3</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Select Division</mat-label>
            <mat-select>
              <mat-option>None</mat-option>
              <mat-option value="option1">Option 1</mat-option>
              <mat-option value="option2">Option 2</mat-option>
              <mat-option value="option3">Option 3</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Select District</mat-label>
            <mat-select>
              <mat-option>None</mat-option>
              <mat-option value="option1">Option 1</mat-option>
              <mat-option value="option2">Option 2</mat-option>
              <mat-option value="option3">Option 3</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Select Taluka</mat-label>
            <mat-select>
              <mat-option>None</mat-option>
              <mat-option value="option1">Option 1</mat-option>
              <mat-option value="option2">Option 2</mat-option>
              <mat-option value="option3">Option 3</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="flex-auto">
          <mat-form-field class="w-60" appearance="outline">
            <mat-label>Search by Name/Mob. No.</mat-label>
            <input ty matInput placeholder="Search by Name/Mob. No.">
          </mat-form-field>
        </div>
        <div>
          <button class="rounded-full bg-gray-300 text-black" mat-raised-button type="button">
            <mat-icon class="ltr:-ml-1 rtl:-mr-1 ltr:mr-2 rtl:ml-2" svgIcon="mat:search"></mat-icon>
            <span>Search</span>
          </button>
        </div>

      </div>
    </div>

    <div class="card overflow-auto">
      <div class="bg-app-bar px-6 h-16 border-b sticky left-0 flex items-center">

        <div *ngIf="selection.hasValue()" class="mr-4 pr-4 border-r flex-none">
          <button (click)="deleteCustomers(selection.selected)" color="primary" mat-icon-button
            matTooltip="Delete selected" type="button">
            <mat-icon svgIcon="mat:delete"></mat-icon>
          </button>

          <button color="primary" mat-icon-button matTooltip="Another action" type="button">
            <mat-icon svgIcon="mat:folder"></mat-icon>
          </button>
        </div>


        <span class="flex-1"></span>

        <button [matMenuTriggerFor]="columnFilterMenu" class="ml-4 flex-none" mat-icon-button
          matTooltip="Filter Columns" type="button">
          <mat-icon svgIcon="mat:filter_list"></mat-icon>
        </button>

        <button (click)="createBidder()" class="ml-4 flex-none" color="primary" mat-mini-fab matTooltip="Add Customer"
          type="button">
          <mat-icon svgIcon="mat:add"></mat-icon>
        </button>
      </div>

      <table @stagger [dataSource]="dataSource" class="w-full" mat-table matSort>

        <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

        <!-- sr No column -->
        <ng-container matColumnDef="srNo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Sr.No </th>
          <td mat-cell *matCellDef="let element;let i=index"> {{((pageNumber + 1) * 10 + i + 1)-20}}</td>
          <!-- <td mat-cell *matCellDef="let element;let i=index"> {{ i+1 }}</td> -->
        </ng-container>

        <!-- Text Columns -->
        <ng-container *ngFor="let column of columns; trackBy: trackByProperty">
          <ng-container *ngIf="column.type === 'text'" [matColumnDef]="column.property">
            <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> {{ column.label }}</th>
            <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>{{ row[column.property] }}</td>
          </ng-container>
        </ng-container>

        <!-- DSC STATUS Columm -->
        <ng-container matColumnDef="isDsc">
          <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header>DSC STATUS</th>
          <td *matCellDef="let row" mat-cell>
            {{row?.isDsc | dash}}
          </td>
        </ng-container>

        <!-- block Column -->
        <ng-container matColumnDef="isBlock">
          <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header>Block /Unblock</th>
          <td *matCellDef="let row" mat-cell>
            <div (click)="$event.stopPropagation()" class="flex items-center gap-1">
              <mat-slide-toggle [checked]="row?.isBlock"></mat-slide-toggle>
            </div>
          </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="actions">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>ACTION</th>
          <td *matCellDef="let row" class="w-10 text-secondary" mat-cell>
            <div class="flex">

              <a (click)="$event.stopPropagation()"
                class="w-8 h-8 leading-none flex items-center justify-center ml-1 hover:bg-hover text-teal bg-teal-light"
                mat-icon-button>
                <mat-icon class="icon-sm" svgIcon="mat:edit"></mat-icon>
              </a>

              <a (click)="$event.stopPropagation()"
                class="w-8 h-8 leading-none flex items-center justify-center ml-1 hover:bg-hover text-red bg-red-light"
                mat-icon-button>
                <button >
                  <mat-icon class="icon-sm" svgIcon="mat:delete_outline"></mat-icon>
                </button>
              </a>
            </div>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: visibleColumns;" @fadeInUp
          class="hover:bg-hover trans-ease-out cursor-pointer" mat-row></tr>
      </table>

      <mat-paginator [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" [length]="totalRows" (page)="pageChanged($event)"
        class="sticky left-0"></mat-paginator>
    </div>

  </vex-page-layout-content>

</vex-page-layout>


<mat-menu #columnFilterMenu="matMenu" xPosition="before" yPosition="below">
  <button (click)="toggleColumnVisibility(column, $event)" *ngFor="let column of columns"
    class="checkbox-item mat-menu-item">
    <mat-checkbox (click)="$event.stopPropagation()" [(ngModel)]="column.visible" color="primary">
      {{ column.label }}
    </mat-checkbox>
  </button>
</mat-menu>