<vex-page-layout>
  <vex-secondary-toolbar current="Bidder Register" class="fixed border-0 bg-transparent drop-shadow-none top-1 z-[99] w-8/12">
    <vex-breadcrumbs [crumbs]="['Master', 'Bidder Register']"></vex-breadcrumbs>
  </vex-secondary-toolbar>
  
  
  <vex-page-layout-content [class.container]="layoutCtrl.value === 'boxed'"
    [class.px-gutter]="layoutCtrl.value === 'fullwidth'" class="-mt-6">
    
    
    <form [formGroup]="filterForm" (ngSubmit)="filterData()">
      <div class="my-3 card p-3 border-0 shadow-none">
        <div class="flex flex-row">
          <div class="grid grid-cols-3 gap-4 mr-3">
            <mat-form-field [appearance]=configService.matFormFieldFilter>
              <mat-label>Select District</mat-label>
              <mat-select formControlName="districtId">
                <mat-option *ngFor="let district of districtArray" [value]="district.id">
                  {{district.district}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-60">
              <mat-label>Bidder Type</mat-label>
              <mat-select formControlName="bidderType">
                <mat-option *ngFor="let bidder of bidderTypeArray" [value]="bidder">{{bidder}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Search by Name/PAN/Mob. No.</mat-label>
              <input ty matInput placeholder="Search by Name/Mob. No." formControlName="search">
            </mat-form-field>
          </div>
          <div>
            <button class="rounded-full bg-gray-300 text-black" mat-raised-button type="submit">
              <mat-icon class="ltr:-ml-1 rtl:-mr-1 ltr:mr-2 rtl:ml-2" svgIcon="mat:search"></mat-icon>
              <span>APPLY</span>
            </button>
          </div>
        </div>
      </div>
    </form>
    <div class="card overflow-auto">
      <div class="bg-app-bar px-6 h-16 border-b sticky left-0 flex items-center">

        <div *ngIf="selection.hasValue()" class="mr-4 pr-4 border-r flex-none">
          <button color="primary" mat-icon-button matTooltip="Delete selected" type="button">
            <mat-icon svgIcon="mat:delete"></mat-icon>
          </button>

          <button color="primary" mat-icon-button matTooltip="Another action" type="button">
            <mat-icon svgIcon="mat:folder"></mat-icon>
          </button>
        </div>


        <span class="flex-1"></span>

        <button [matMenuTriggerFor]="columnFilterMenu" class="ml-4 flex-none" mat-icon-button
          matTooltip="Filter Columns" type="button">
          <mat-icon svgIcon="mat:filter_list"></mat-icon>
        </button>

        <button (click)="createBidder()" class="ml-4 flex-none" color="primary" mat-mini-fab matTooltip="Add Customer"
          type="button">
          <mat-icon svgIcon="mat:add"></mat-icon>
        </button>
      </div>

      <table @stagger [dataSource]="dataSource" class="w-full" mat-table matSort>

        <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

        <!-- sr No column -->
        <ng-container matColumnDef="srNo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Sr.No </th>
          <td mat-cell *matCellDef="let element;let i=index"> {{((pageNumber + 1) * 10 + i + 1)-20}}</td>
          <!-- <td mat-cell *matCellDef="let element;let i=index"> {{ i+1 }}</td> -->
        </ng-container>

        <!-- Text Columns -->
        <ng-container *ngFor="let column of columns; trackBy: trackByProperty">
          <ng-container *ngIf="column.type === 'text'" [matColumnDef]="column.property">
            <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> {{ column.label }}</th>
            <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>{{ row[column.property] }}</td>
          </ng-container>
        </ng-container>

        <!-- block Column -->
        <ng-container matColumnDef="isBlock">
          <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header>Block /Unblock</th>
          <td *matCellDef="let row" mat-cell>
            <div (click)="$event.stopPropagation()" class="flex items-center gap-1">
              <mat-slide-toggle [checked]="row?.isBlock" (change)="userBlockUnBlockModal(row,$event)">
              </mat-slide-toggle>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="isDsc">
          <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header>Dsc Status</th>
          <td *matCellDef="let row" mat-cell>
            {{row.isDsc | dash}}
          </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="actions">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>ACTION</th>
          <td *matCellDef="let row" class="w-10 text-secondary" mat-cell>
            <div class="flex">

              <a (click)="$event.stopPropagation()"
                class="w-8 h-8 leading-none flex items-center justify-center ml-1 hover:bg-hover text-teal bg-teal-light"
                mat-icon-button>
                <mat-icon class="icon-sm" svgIcon="mat:edit" (click)="createBidder(row)"></mat-icon>
              </a>

              <a (click)="$event.stopPropagation()"
                class="w-8 h-8 leading-none flex items-center justify-center ml-1 hover:bg-hover text-red bg-red-light"
                mat-icon-button>
                <button (click)="userBlockUnBlockModal(row,$event,'isDelete')">
                  <mat-icon class="icon-sm" svgIcon="mat:delete_outline"></mat-icon>
                </button>
              </a>
            </div>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: visibleColumns;" @fadeInUp
          class="hover:bg-hover trans-ease-out cursor-pointer" mat-row></tr>
      </table>
      <ng-container *ngIf="totalRows >= 10">
        <mat-paginator [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" [length]="totalRows"
          (page)="pageChanged($event)" class="sticky left-0"></mat-paginator>
      </ng-container>

    </div>

  </vex-page-layout-content>

</vex-page-layout>


<mat-menu #columnFilterMenu="matMenu" xPosition="before" yPosition="below">
  <button (click)="toggleColumnVisibility(column, $event)" *ngFor="let column of columns"
    class="checkbox-item mat-menu-item">
    <mat-checkbox (click)="$event.stopPropagation()" [(ngModel)]="column.visible" color="primary">
      {{ column.label }}
    </mat-checkbox>
  </button>
</mat-menu>