<div mat-dialog-title class="flex items-center justify-between mb-2 m-0">
    <div>Change Password</div>
    <button type="button" mat-icon-button (click)="close('No answer')" tabindex="-1">
      <mat-icon svgIcon="mat:close"></mat-icon>
    </button>
  </div>
  <mat-divider></mat-divider>

  <form [formGroup]="changePassForm" (ngSubmit)="changePassword()">
    <mat-dialog-content>
      <div class=" mt-4">
            <div>
                <mat-form-field class="flex-1" [appearance]=configService?.matFormField class="w-full">
                    <mat-label> Old Password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="oldPassword"
                        maxlength="20" (keypress)="VB.noSpaces($event)" autocomplete="off">
                    <mat-error *ngIf="changePasswordControl.oldPassword.errors">
                        <span class="text-danger"
                            *ngIf="changePasswordControl.oldPassword.hasError('required')">Old Password is
                            required</span>
                        <span class="text-danger"
                            *ngIf="changePasswordControl.oldPassword.hasError('maxLength') || changePasswordControl.oldPassword.hasError('pattern')">It
                            must contain 8 or more characters that are of at least one number, and
                            one special characters, and one uppercase and lowercase letter.</span>
                    </mat-error>

                    <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field class="flex-1" [appearance]=configService?.matFormField class="w-full">
                    <mat-label> New Password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="newPassword"
                        maxlength="20" (keypress)="VB.noSpaces($event)" autocomplete="off">
                    <mat-error *ngIf="changePasswordControl.newPassword.errors">
                        <span class="text-danger"
                            *ngIf="changePasswordControl.newPassword.hasError('required')">New Password is
                            required</span>
                        <span class="text-danger"
                            *ngIf="changePasswordControl.newPassword.hasError('maxLength') || changePasswordControl.oldPassword.hasError('pattern')">It
                            must contain 8 or more characters that are of at least one number, and
                            one special characters, and one uppercase and lowercase letter.</span>
                    </mat-error>

                    <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                
            </div>

            <div>
                <mat-form-field class="flex-1" [appearance]=configService?.matFormField class="w-full">
                    <mat-label> Confirm Password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="ConfirmPassword"
                        maxlength="20" (keypress)="VB.noSpaces($event)" autocomplete="off">
                    <mat-error *ngIf="changePasswordControl.ConfirmPassword.errors">
                        <span class="text-danger"
                            *ngIf="changePasswordControl.ConfirmPassword.hasError('required')">Confirm Password is
                            required</span>
                        <span class="text-danger"
                            *ngIf="changePasswordControl.ConfirmPassword.hasError('maxLength') || changePasswordControl.ConfirmPassword.hasError('pattern')">It
                            must contain 8 or more characters that are of at least one number, and
                            one special characters, and one uppercase and lowercase letter.</span>
                    </mat-error>

                    <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                
            </div>
         
            <mat-dialog-actions align="end">
                <button type="button" mat-stroked-button (click)="clear()" class="bg-gray-300">Clear</button>
                <button type="submit" mat-raised-button color="primary">Submit</button>
             </mat-dialog-actions>
      </div>
    </mat-dialog-content>
  </form>
