<div mat-dialog-title class="flex items-center justify-between ">
    <!-- {{dialogData?.cardTitle}} -->

    <p class="mb-0">Auction Profile</p>
    <button type="button" mat-icon-button (click)=" this.dialogRef.close()" tabindex="-1">
        <mat-icon>close</mat-icon>
    </button>
</div>
<mat-divider></mat-divider>
<mat-dialog-content>

    <div class="container my-10 px-0">
        <div class="grid grid-cols-2 gap-5">
            <div>
                <div class="map">
                    <agm-map class="h-72 w-full"
                     [fitBounds]="true" [latitude]="lat" [longitude]="lng" [mapTypeControl]='true' [fullscreenControl]='true'>
                        <agm-marker [agmFitBounds]="true" [latitude]="lat" [longitude]="lng"></agm-marker>
                      </agm-map>  
                      
                </div>
                <div class="table_data my-3 bg-gray-500">
                    Table data
                </div>
            </div>
            <div>


                <div class="grid grid-cols-2 gap-5">
                    <div>
                        <div>img</div>
                        <div class="flex">
                            <p>Plot Name :</p>
                            <p>{{syniseplotIdArray?.plotName}}</p>
                        </div>
                        <div class="flex">
                            <p class="w-32">Plot Type :</p>
                            <p>{{syniseplotIdArray?.plotTypeName}}</p>
                        </div>
                        <div class="flex">
                            <p>Category :</p>
                            <p>{{syniseplotIdArray?.categoryName}}</p>
                        </div>
                        <div class="flex">
                            <p>Plot Location :</p>
                            <p>{{syniseplotIdArray?.address}}</p>
                        </div>
                        <div class="flex">
                            <p>District :</p>
                            <p>{{syniseplotIdArray?.district}}</p>
                        </div>

                        <div class="flex">
                            <p>Plot River / Coast Name </p>:
                            <p>{{syniseplotIdArray?.riverCostal}}</p>
                        </div>
                        <div class="flex">
                            <p>Plot Taluka / CSTo </p>:
                            <p>{{syniseplotIdArray?.taluka}}</p>
                        </div>
                        <div class="flex">
                            <p>Plot PLot ownership</p>:
                            <p>{{syniseplotIdArray?.ownerShip}}</p>
                        </div>
                        <div class="flex">
                            <p>Plot Village</p>:
                            <p>{{syniseplotIdArray?.village}}</p>
                        </div>
                        <div class="flex">
                            <p>Plot Area</p>:
                            <p>{{syniseplotIdArray?.area}} (Hectare)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</mat-dialog-content>


<mat-dialog-actions>
    <div class="mx-auto">
        <button mat-button color="primary" (click)=" this.dialogRef.close()"></button>
    </div>
</mat-dialog-actions>