@import "~simplebar/dist/simplebar.css";
@import "~highlight.js/styles/androidstudio.css";
// Vex Core
@import "./@vex/styles/core";

/*
  You can override any CSS Variable or style here
  Example:

  :root {
   --sidenav-background: #333333;
  }

  All possible variables can be found in @vex/styles/core or by simply inspecting the element you want to change
  in Chrome/Firefox DevTools
*/

/**
  Uncomment the below code and adjust the values to fit your colors, the application will automatically adjust
 */
:root {
  // --color-primary: blue;
  // --color-primary-contrast: white;

  // --color-accent: yellow;
  // --color-accent-contrast: black;

  // --color-warn: yellow;
  // --color-warn-contrast: black;
}

.example-element-detail {
  overflow: hidden;
}

tr.example-detail-row {
  height: 0 !important;
}

.divdisabled {
  opacity: 0.5;
  pointer-events: none;
}

.html p:first-child {
  margin-top: 15px !important;
}

.html p:last-child {
  margin-bottom: 15px !important;
}

.html p {
  margin-bottom: 5px !important;
}

.data-not-found {
  padding: 9px !important;
  margin: 5px !important;
  color: #721c24 !important;
  background-color: #f8d7da !important;
  border-color: #f5c6cb !important;
  border-radius: 2px;
}
body,
vex-web-layout,
vex-page-layout{
  height: 100vh !important;
  overflow-y: auto !important;
}