<div class="relative">
    <div class="container-fluid bg-gray-300 shadow fixed bottom-0 left-0 right-0">
        <div class="container">
            <div class="flex justify-between items-center py-2 text-xs">
                <div>
                    © 2022 eAuction, All rights Reserved.
                </div>
                <div class="flex items-center">
                    Powered by - <a href="http://shauryatechosoft.com" class="text-blue-700">Shaurya Technosoft Pvt.
                        Ltd.</a>
                    <img src="assets/img/ShauryaTechnosoftLogoSmall.png" class="w-20">
                </div>
            </div>
        </div>
    </div>
</div>