<div class="container">
    <form [formGroup]="bidderRegiForm" #formDirective="ngForm">
        <div class="">
            Add Bidder
        </div>
        <mat-divider class="-mx-6 text-border"></mat-divider>
        <div class="flex  gap-x-3 space-x-28 mt-4">
            <h4>Bidder Type <sup class="text-red">*</sup></h4>     
    
            <!-- </mat-radio-group> -->
            <mat-radio-group aria-label="Select an option" >
                <mat-radio-button class="px-2" name="bidderType"  *ngFor="let bidderTy of bidderTypeArray" [checked]="bidderTypeName == bidderTy ? true:false" [value]= bidderTy (change)="bidderTypeCheck(bidderTy)">{{bidderTy}}</mat-radio-button>
            </mat-radio-group>
    
    
        </div>
    
        <div class="grid grid-cols-2 gap-4 py-4">
            <div class="flex items-center justify-between" *ngIf="hideIndividual">    
                <div class="pe-3">
                    <mat-label>Individual Name <sup class="text-red">*</sup> </mat-label>
                </div>
                <div class="text-end">
                    <mat-form-field class="w-60" appearance="outline">
                        <mat-label>Individual Name </mat-label>
                        <input matInput class="text-capitalize" autocomplete="nope" value=""
                        (keyup)="valiService.removeSpaceAtBegining($event)" formControlName="name">
                    <mat-error *ngIf="f.name.errors">
                        <span class="text-danger" *ngIf="f.name.errors?.required">
                            Individual Name is required.</span>
                        <span class="text-danger" *ngIf="f.name.errors?.pattern">
                            Please enter Valid Individual Name</span>
                    </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="flex items-center justify-between" *ngIf="hideOrganization">    
                <div class="pe-3">
                    <mat-label>Organization Name <sup class="text-red">*</sup> </mat-label>
                </div>
                <div class="text-end">
                    <mat-form-field class="w-60" appearance="outline">
                        <mat-label>Organization Name </mat-label>
                        <input matInput class="text-capitalize" autocomplete="nope" value=""
                        formControlName="name" (keyup)="valiService.removeSpaceAtBegining($event)">
                    <mat-error *ngIf="f.name.errors">
                        <span class="text-danger" *ngIf="f.name.errors?.required">
                            Organization Name is required.</span>
                        <span class="text-danger" *ngIf="f.name.errors?.pattern">
                            Please enter Valid Organization Name</span>
                    </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="flex items-center justify-between">
    
                <div class="pe-3">
                    <mat-label>Mobile Number <sup class="text-red">*</sup></mat-label>
                </div>
                <div class="text-end">
                    <mat-form-field class="w-60" appearance="outline">
                        <mat-label>Mobile Number </mat-label>
                        <input matInput type="text" formControlName="mobile" autocomplete="nope"
                                    (blur)="getBidderRegByCriSeprated('mobile')"
                                    (keypress)="acceptedOnlyNumbers($event)" maxlength="10" autocomplete="off">
                                <mat-error *ngIf="f.mobile.errors">
                                    <span class="text-danger" *ngIf="f.mobile.errors?.required">
                                        Mobile Number is required.</span>
                                    <span class="text-danger" *ngIf="f.mobile.errors?.pattern">
                                        Please enter Valid Mobile Number</span>
                                </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
    
        <div class="grid grid-cols-2 gap-4 py-4">
            <div class="flex items-center justify-between">
    
                <div class="pe-3">
                    <mat-label>District <sup class="text-red">*</sup> </mat-label>
                </div>
                <div class="text-end">
                    <mat-form-field class="w-60" appearance="outline">
                        <mat-label>Select District </mat-label>
                        <mat-select formControlName="districtId">
                            <mat-option *ngFor="let districtObj of districtArray"
                                [disabled]="districtObj.id == 0" [value]="districtObj.id">
                                {{districtObj.district}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="f.districtId.errors?.required"> District is required</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="flex items-center justify-between">
    
                <div class="pe-3">
                    <mat-label>Email ID <sup class="text-red">*</sup></mat-label>
                </div>
                <div class="text-end">
                    <mat-form-field class="w-60" appearance="outline">
                        <mat-label>Email ID </mat-label>
                        <input matInput type="text" formControlName="email" autocomplete="nope"
                        (keyup)="valiService.removeSpaceAtBegining($event)">
                    <mat-error *ngIf="f.email.errors">
                        <span class="text-danger" *ngIf="f.email.errors?.required">E-mail ID is
                            required</span>
                        <span class="text-danger" *ngIf="f.email.errors?.pattern">Please Enter Valid Email
                            Id</span>
                    </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
    
    
        <div class="grid grid-cols-2 gap-4 py-4">
            <div class="flex items-center justify-between">
    
                <div class="pe-3">
                    <mat-label>Address <sup class="text-red">*</sup> </mat-label>
                </div>
                <div class="text-end">
                    <mat-form-field class="w-60 " appearance="outline">
                        <mat-label>Address</mat-label>
                        <textarea matInput class="" placeholder="Address"  autocapitalize="off"   formControlName="address" autocomplete="nope" #search
                        (keyup)="valiService.removeSpaceAtBegining($event)"></textarea>
                        <!-- <input matInput type="text" autocapitalize="off" spellcheck="off"
                      > -->
                    <mat-error *ngIf="f.address.errors">
                        <span class="text-danger" *ngIf="f.address.errors?.required">Address is required
                        </span>
                        <span class="text-danger" *ngIf="f.address.errors?.pattern">Please
                            Enter Valid Address </span>
                    </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="block">              
                <div class="flex items-center justify-between">    
                    <div class="pe-3">
                        <mat-label>Pin Code <sup class="text-red">*</sup></mat-label>
                    </div>
                    <div class="text-end">
                        <mat-form-field class="w-60" appearance="outline">
                            <mat-label>Pin Code </mat-label>
                            <input matInput type="text" formControlName="pinCode" autocomplete="nope"
                            (keypress)="acceptedOnlyNumbers($event)" maxlength="6">
                        <mat-error *ngIf="f.pinCode.errors">
                            <span class="text-danger" *ngIf="f.pinCode.errors?.required">Pin Code is
                                required</span>
                            <span class="text-danger" *ngIf="f.pinCode.errors?.pattern">Please Enter Valid Pin
                                Code</span>
                        </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="flex items-center justify-between" *ngIf="hideIndividual">    
                    <div class="pe-3">
                        <mat-label>Designation <sup class="text-red">*</sup></mat-label>
                    </div>
                    <div class="text-end">
                        <mat-form-field class="w-60" appearance="outline">
                            <mat-label>Designation </mat-label>
                            <mat-select formControlName="designation">
                                <mat-option *ngFor="let designationObj of DesignationArray"
                                    [disabled]="designationObj?.id == 0" [value]="designationObj?.id">
                                    {{designationObj?.designation}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="f.designation.errors?.required"> Designation is required</mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>

        <div class="grid grid-cols-2 gap-4 py-4" *ngIf="hideOrganization">
            <div class="flex items-center justify-between">    
                <div class="pe-3">
                    <mat-label>Contact Person Name <sup class="text-red">*</sup> </mat-label>
                </div>
                <div class="text-end">
                    <mat-form-field class="w-60" appearance="outline">
                        <mat-label>Contact Person Name </mat-label>
                        <input matInput formControlName="contactPersonName" autocomplete="nope"
                        (keyup)="valiService.removeSpaceAtBegining($event)">
                    <mat-error *ngIf="f.contactPersonName.errors">
                        <span class="text-danger" *ngIf="f.contactPersonName.errors?.required">
                            Contact Person Name is required.</span>
                        <span class="text-danger" *ngIf="f.contactPersonName.errors?.pattern">
                            Please Enter Valid Contact Person Name</span>
                    </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="flex items-center justify-between">
    
                <div class="pe-3">
                    <mat-label>Org. Type<sup class="text-red">*</sup></mat-label>
                </div>
                <div class="text-end">
                    <mat-form-field class="w-60" appearance="outline">
                        <mat-label>Org. Type</mat-label>
                        <mat-select formControlName="organizationTypeId"
                        (selectionChange)="orgTypeHideTableRow()">
                        <mat-option *ngFor="let organType of organTypeArray"
                            [disabled]="organType.organizationId == 0" [value]="organType.organizationId">
                            {{organType.organizationName}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="f.organizationTypeId.errors?.required"> Org. Type is required
                    </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="grid grid-cols-2 gap-4 py-4" *ngIf="hideOrganization">
            <div class="flex items-center justify-between">    
                <div class="pe-3">
                    <mat-label>Contact Person Mobile No </mat-label>
                </div>
                <div class="text-end">
                    <mat-form-field class="w-60" appearance="outline">
                        <mat-label>Contact Person Mobile No</mat-label>
                        <input matInput type="text" formControlName="contactPersonMobile" autocomplete="nope"
                            (keypress)="acceptedOnlyNumbers($event)" maxlength="10">
                        <mat-error *ngIf="f.contactPersonMobile.errors?.pattern"> Please enter Valid Contact
                            Person Mobile No.</mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
    
        <!-- <vex-widget-table [columns]="tableColumns"
        [data]="tableData"
        class="sm:col-span-2"></vex-widget-table> -->
        
        <div class="flex justify-end">
            <button mat-stroked-button class="mx-3">Clear</button>
            <button mat-raised-button color="primary">Submit</button>
        </div>
    </form>


</div>